
    th:nth-child(1), td:nth-child(1) { width: 15%; }
    th:nth-child(2), td:nth-child(2) { width: 15%; }
    th:nth-child(3), td:nth-child(3) { width: 10%; }
    th:nth-child(4), td:nth-child(4) { width: 10%; } 
    th:nth-child(5), td:nth-child(5) { width: 15%; } 
    th:nth-child(6), td:nth-child(6) { width: 10%; } 
    th:nth-child(7), td:nth-child(7) { width: 10%; } 
    th:nth-child(8), td:nth-child(8) { width: 15%; } 
    .tooltip-text {
        visibility: hidden;
        width: 220px;
        background-color: #E6F7FF;
        color: #004E92;
        text-align: left;
        border-radius: 5px;
        padding: 8px;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s;
        font-size: 12px;
        white-space: normal;
    }

    .tbl-title-field:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
    }

    .select2-container {
      width: 100% !important;
    }

    .select2-selection__rendered {
      white-space: normal !important;
      word-wrap: break-word !important;
      line-height: 1.4em;
      padding-right: 25px !important;
    }

    .select2-selection--single {
      height: auto !important;
      min-height: 38px;
      border-radius: 4px;
      display: flex;
      align-items: center;
    }
    
    .select2-selection__arrow {
      height: 100% !important;
      top: 0 !important;
    }