    .pull-right{
        float:right;
    }
    .box-header.with-border {
      margin-top: 5px;
      display: flex;
    }
    .box-header:before,
    .box-body:before,
    .box-footer:before,
    .box-header:after,
    .box-body:after,
    .box-footer:after {
      content: " ";
      display: table;
    }
    .box-header:after,
    .box-body:after,
    .box-footer:after {
      clear: both;
    }
    .box-header {
      color: #444;
      display: block;
      padding: 10px;
      position: relative;
    }
    .box-header.with-border {
      border-bottom: 1px solid #f4f4f4;
    }
    .collapsed-box .box-header.with-border {
      border-bottom: none;
    }

    .tbl-content{
      /* max-height: 530px; */
      overflow: auto;
      margin-top: 10px;
    }

    .box{
        /* max-height: 530px; */
        overflow-y: auto;
        margin-top: 20px;
    }

    div#list-data {
        padding: 0;
    }

    .search-query {
        height: 31px;
        border-radius: 7px;

    }
    #form-search .has-feedback .form-control-feedback {
         right: 0px !important;
    }

    #form-search  .form-group {
         margin-right: 0px !important;
         margin-left: 0px !important;
    }

    #form-search{
        display: inline-block;
        position: fixed;
        right:2em;
        width: 20%;
        display: inline-block;
    }
    /*.hidden{
        display: none;
    }*/
    .even-row {
        background-color: #FFFFFF;
    }
    .even-row:hover{
        background-color: #b3e5fc;
    }

    .odd-row {
        background-color: #DEDEDE;
    }
    .odd-row:hover{
        background-color: #b3e5fc;
    }

    thead{
        background-color: #301311;
        color: white;
    }

    thead tr{
        position: sticky;
        background-color: #301311;
        color: white;
        top: 0;
        z-index: 10; /* Keep it above other elements */
    }

    .save, .update {
        border: 1px solid #267326; 
        padding: 10px; 
        min-width: 75px; 
        max-height: 30px; 
        line-height: 0.5; 
        background-color: #339933; 
        color:white; 
        border-radius:10px; 
        margin-right:5px;
        margin-bottom:2px;
        margin-top:2px;
        box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
    }
    .save:focus, .update:focus  {
        color: white !important ; 
        background-color: #15C815 !important ; 
        border: 0px solid #339933 !important ; 
    }
    .save:hover, .update:hover {
        color: white !important ; 
        background-color: #15C815 !important ; 
        border: 0px solid #339933 !important ; 
    }

    .view {
        border: 1px solid #143996; 
        padding: 10px; 
        min-width: 75px; 
        max-height: 30px; 
        line-height: 0.5; 
        background-color: #1439a6; 
        color:white; 
        border-radius:10px; 
        margin-right:5px;
        margin-bottom:2px;
        margin-top:2px;
        box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
    }
    .view:hover {
        color: white; 
        background-color: #1439FF; 
        border: 0px solid #1439a6; 
    }

    .delete {
        border: 1px solid #730000;
        padding: 10px; 
        min-width: 75px; 
        max-height: 30px; 
        line-height: 0.5; 
        background-color: #990000; 
        color: white; border-radius: 10px; 
        margin-right: 5px; 
        margin-bottom:2px;
        margin-top:2px;
        box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
    }
    .delete:hover {
        color: white; 
        background-color: #C80000; 
        border: 0px solid #990000; 
    }

    .caution {
        border: 2px solid #FE9900; 
        padding: 10px; 
        min-width: 75px; 
        max-height: 30px; 
        line-height: 0.5; 
        background-color: #FE9900; 
        color: white; 
        border-radius:10px; 
        margin-right:5px;
        margin-bottom:2px;
        margin-top:2px;
        box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
    }
    .caution:hover {
        padding: 10px; 
        color: white; 
        background-color: #FFC14D; 
        border: 0px solid #FE9900; 
    }

    .default {
        border: 2px solid white; 
        padding: 10px; 
        min-width: 75px; 
        max-height: 30px; 
        line-height: 0.5; 
        background-color:gray; 
        color:white; 
        border-radius:10px; 
        margin-right:5px;
        margin-bottom:2px;
        margin-top:2px;
        box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
    }

    .card {
        box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .card-body {
        padding-top: 0px;
    }

    input[type="file"] {
        display: none;
    }
    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    .modal-title {
        font-family: 'Courier New', Courier, monospace; 
        font-size: large;
    }
    
    .md-center {
        padding: 10px;
        font-family: 'Courier New', Courier, monospace;
        font-size: large;
        background-color: #fdb92a;
        color: #333333;
        border: 1px solid #ffffff;
        border-radius: 10px;
    }

    #form-modal {
        background-color: white !important;
        width: 100%;
    }

    .import-label {
        padding-left: 10px;
        padding-top: 10px;
    }

    #file {
        padding-left: 10px;
    }

    .form-text {
        padding-left: 10px;
    }

    .extracted-data {
        overflow-x: auto;
        height: 350px;
        padding: 0px;
    }