    th:nth-child(1), td:nth-child(1) { width: 3%; } /* Rank */
    th:nth-child(2), td:nth-child(2) { width: 10%; } /* Area */
    th:nth-child(3), td:nth-child(3) { width: 15%; } /* ASC */
    th:nth-child(4), td:nth-child(4) { width: 15%; } /* LY Scan Data */
    th:nth-child(5), td:nth-child(5) { width: 15%; } /* Actual Sales */
    th:nth-child(6), td:nth-child(6) { width: 15%; } /* Target */
    th:nth-child(7), td:nth-child(7) { width: 3%; } /* % Ach */
    th:nth-child(8), td:nth-child(8) { width: 3%; } /* % Growth */
    th:nth-child(9), td:nth-child(9) { width: 15%; } /* Balance to Target */
    th:nth-child(10), td:nth-child(10) { width: 10%; } /* Target per Remaining days */

   

    .tooltip-text {
        visibility: hidden;
        width: 220px;
        background-color: #E6F7FF;
        color: #004E92;
        text-align: left;
        border-radius: 5px;
        padding: 8px;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        right: 0;
        opacity: 0;
        transition: opacity 0.3s;
        font-size: 12px;
        white-space: normal;
    }

    .tbl-title-field:hover {
        background: linear-gradient(to right, #001f4d, #0056b3);
    }

    .tbl-title-field:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
    }

    #info_for_asc {
        overflow: visible !important;
    }